<launch>
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_CRS03">
    <remap from="imu/data_raw" to="/CRS03"/>    
    <remap from="/imu/data" to="/CRS03_Fused"/>    
    <param name ="use_mag" value="false"/> 
  </node>

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_CRS09">
    <remap from="imu/data_raw" to="/CRS09"/>    
    <remap from="/imu/data" to="/CRS09_Fused"/>    
    <param name ="use_mag" value="false"/> 
  </node>

</launch>
