<launch>
  <arg name="model"/>  
  <arg name="location"/> 
  <arg name="trial"/>

  <!-- turtlebot bringup -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- launch orb_slam2 -->
  <include file="$(find orb_slam2_ros)/ros/launch/orb_slam2_r200_mono.launch"/>

  <!-- my node to add covariance to orb_slam2 output --> 
  <node pkg="my_pkgs" type="add_cov" name="orb_cov" clear_params="true"/>
  
  <!-- publish transform between map and odom -->
  <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0 0 0 0 0 0 1.0 map odom 100" />

  <!-- ground truth position -->	
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_gnd" clear_params="true">
    <remap from="/odometry/filtered" to="/localization/gnd_truth"/>
    <rosparam command="load" file="$(find robot_localization)/params/gndtruth.yaml" />
  </node>

  <!-- imu estimate of the position -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_imu" clear_params="true">
    <remap from="/odometry/filtered" to="/localization/imu"/>
    <rosparam command="load" file="$(find robot_localization)/params/imu.yaml" />
  </node> 

  <!-- camera estimate of the position -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_orbslam" clear_params="true">
    <remap from="/odometry/filtered" to="/localization/orbslam"/>
    <rosparam command="load" file="$(find robot_localization)/params/orbslam.yaml" />
  </node>

  <!-- imu+camera estimate of the position -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_vio" clear_params="true">
    <remap from="/odometry/filtered" to="/localization/vio"/>
    <rosparam command="load" file="$(find robot_localization)/params/vio.yaml" />
  </node> 
<?ignore
?>  
  <!-- visualize results --> 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_localization)/rviz/turtlebot_robot_localization.rviz"/> 

  <!-- play rosbag --> 
  <node pkg="rosbag" type="play" name="rosplay" args="$(find my_pkgs)/datasets/$(arg location)_$(arg model)_$(arg trial).bag" required = "true"/>
  <!-- record outputs --> 
  <node pkg="rosbag" type="record" name="rosrecord" args="-O $(find my_pkgs)/outputs/$(arg location)_$(arg model)_$(arg trial)_out.bag /localization/imu /localization/vio /localization/orbslam /localization/gnd_truth"/> 
</launch>
