<launch>
  <!-- turtlebot bringup -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="burger"/>
  </include>
    
  <!-- decompress images from the turtlebot --> 
  <node pkg="image_transport" type="republish" name="compressed_to_raw"
    args="compressed in:=/raspicam_node/image/ raw out:=/camera/image_raw" />

  <!-- launch orb_slam2 -->
  <include file="$(find orb_slam2_ros)/ros/launch/orb_slam2_raspi_mono.launch"/>

  <!-- my node to add covariance to orb_slam2 output --> 
  <node pkg="my_pkgs" type="add_cov" name="orb_cov" clear_params="true" args="_covariance:=0.0005 _for_fusion:=true"/>

  <!-- my node to add covariance to orb_slam2 output --> 
  <node pkg="my_pkgs" type="add_cov" name="orb_cov2" clear_params="true" args="_covariance:=0 _for_fusion:=false"/>
  
  <!-- publish transform between map and odom -->
  <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0 0 0 0 0 0 1.0 map odom 100" />

  <!-- imu + encoder estimate of the position -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_imu_enc" clear_params="true">
    <remap from="/odometry/filtered" to="/localization/imu_enc"/>
    <rosparam command="load" file="$(find robot_localization)/params/imu_enc.yaml" />
  </node> 

  <!-- camera estimate of the position -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_orbslam" clear_params="true">
    <remap from="/odometry/filtered" to="/localization/orbslam"/>
    <rosparam command="load" file="$(find robot_localization)/params/orbslam.yaml" />
  </node>

  <!-- camera+imu+encoder estimate of the position -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_vis_imu_enc" clear_params="true">
    <remap from="/odometry/filtered" to="/localization/vio"/>
    <rosparam command="load" file="$(find robot_localization)/params/vis_imu_enc.yaml" />
  </node> 

  <!-- visualize results --> 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_localization)/rviz/turtlebot_real_localization.rviz"/> 
</launch>
